{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8"/> 
	<!--<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/player.css' %}" />-->
	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.cookie.js' %}"></script>
	<script src="{% static 'tsweb/js/util.js' %}"></script>
</head>
<body style="background-color:#D6D6D6;margin:0;padding:0;">
<script>
function EDITTABLE(){
	var thisClass = this;
	var url = "{% url 'tsweb:tprocessajax' %}";
	
	this.SendHint = function() {
		$.post(url,
			{	'class' :  'LOGINAJAX',
				'method' : 'sendhint',
				'username' : $('#txtUsername').val() },
			function(result){
				$('#lblError').val(result.status);
			})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.initContent = function() {
		$('#btnReset').click(function() {
			$('#txtUsername').val('');
			$('#txtPassword').val('');
		});
		
		$('#btnSendHint').attr('href', 'javascript:var gen = new EDITTABLE();gen.SendHint();');
	}
}

$(function() {
	var gen = new EDITTABLE();
	gen.initContent();
});
</script>

<div style="margin:auto;background-color:white;width:1024px;height:768px;">
<div style="margin:auto;background-color:#0090CA;width:569px;height:254px;border-radius:20px;top:145px;position:relative;color:white;">
<form action="{% url 'tsweb:login' %}" method="post">
{% csrf_token %}
<h1 style="text-decoration:underline;font-weight:bold;left:17px;top:10px;position:relative;font-family:Open Sans,sans-serif;font-size:34px;">Login</h1><br/><br/>
<table style="border-width:0;width:60%;position:relative;left:133px;">
<tr>
<td><img src="{% static 'tsweb/image/username.png' %}"/></td>
<td><input id="txtUsername" name="txtUsername" value="{{username}}" type="text" style="width:303px;padding:2px 4px;"/></td>
</tr>
<tr>
<td><img src="{% static 'tsweb/image/password.png' %}"/></td>
<td><input id="txtPassword" name="txtPassword" type="password" style="width:303px;padding:2px 4px;"/></td>
</tr>
<tr>
<td colspan="2">
<table style="border-width:0;width:100%;">
<tr>
<td><img src="{% static 'tsweb/image/googlelogin.png' %}"/></td>
<td><input id="btnReset" type="button" value="Reset" style="width:80px;height:35px;" /></td>
<td><input id="btnSubmit" type="submit" value="Login" style="width:80px;height:35px;" /></td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="2" style="text-align:right;"><a id="btnSendHint" style="text-decoration:underline;color:white;">Forgot Password</a></td>
</tr>
<tr>
<td colspan="2"><label id="lblError" style="text-decoration:underline;color:white;">{{errmsg}}</label></td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>