<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<!--<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/Prototype.css' %}" />-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom-edited.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/topscholars.css' %}" />-->
	
	<link rel="stylesheet" href="../../../static/tsweb/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../static/tsweb/css/bootstrap-glyphicons.css" type="text/css" />
	<link rel="stylesheet" href="../../../static/tsweb/css/topscholars.css" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	
<!--	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
	
	<script src="../../../static/tsweb/js/jQuery1.10.1.js" type="text/javascript"></script>
	<script src="../../../static/tsweb/js/bootstrap.js" type="text/javascript"></script>

</head>

<body>
	
	<nav class="navbar" role="navigation">
		<div class="container">
			<h1 class="logo">Writability - My Desk</h1>
			<!--<p class="navbar-text pull-right"><a href="#" class="navbar-link">Student Name <span class="fa fa-reorder fa-2x"></span></a></p>-->
			<ul class="nav navbar-nav pull-right student-nav nav-text" >
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
	
	</div>
	
</body>
</html>