<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="../../../static/tsweb/css/Prototype.css" />
	<link rel="stylesheet" type="text/css" href="../../../static/tsweb/css/smoothness/jquery-ui-1.10.3.custom.css" />
	<script src="../../../static/tsweb/js/jQuery1.10.1.js"></script>
	<script src="../../../static/tsweb/js/WaterMark.js"></script>
</head>

<body>
<script>
$(function() {
	$("#btnSave").hover(function(){
		$(this).addClass('ui-state-hover');
	}, function(){
		$(this).removeClass('ui-state-hover');
	});
});
</script>
<style>
.editor{
	padding-left:50px;
	padding-top:10px;
}
.col{
	font-weight:bold;
	width:150px;
}
.text{
	width:300px;
}
.select{
	width:250px;
}
</style>
<div class="placeholder">
<div class="header">
<div class="headertext">
<h1>Teacher Name - My Classroom</h1>
</div>
<div class="headerbutton">
<a href="{% url 'tsweb:logout' %}"><img src="../../../static/tsweb/image/logout.png"/></a>
<a href=""><img src="../../../static/tsweb/image/userdetails.png" /></a>
<a href=""><img src="../../../static/tsweb/image/username.png" style="margin-top:12px;" /></a>
</div>
</div>
<h1 class="pagename">Class List - Edit</h1>
<input id="txtSearch" class="searchbox searchboxnofilter" type="text"/>
<img src="../../../static/tsweb/image/searchbox.png" class="searchboximg searchboximgnofilter" />
<div class="clear"></div>
<br/>
<div class="leftnav">
<div class="active">
	<table>
		<tr>
			<td class="tdimg"><img src="../../../static/tsweb/image/classlist.png"/></td>
			<td><a href="{% url 'tsweb:tclasslist">Class List</a></td>
		</tr>
	</table>
</div>
<div>
	<table>
		<tr>
			<td class="tdimg"><img src="../../../static/tsweb/image/assignmentlist.png"/></td>
			<td><a href="{% url 'tsweb:tassignmentlist">Assignment List</a></td>
		</tr>
	</table>
</div>
<div>
	<table>
		<tr>
			<td class="tdimg"><img src="../../../static/tsweb/image/studentlist.png"/></td>
			<td><a href="{% url 'tsweb:tstudentlist">Student List</a></td>
		</tr>
	</table>
</div>
<div>
	<table>
		<tr>
			<td class="tdimg"><img src="../../../static/tsweb/image/rubriclist.png"/></td>
			<td><a href="{% url 'tsweb:trubriclist">Rubric List</a></td>
		</tr>
	</table>
</div>
<div>
	<table>
		<tr>
			<td class="tdimg"><img src="../../../static/tsweb/image/submissionlist.png"/></td>
			<td><a href="{% url 'tsweb:tsubmissionlist' %}">Submission List</a></td>
		</tr>
	</table>
</div>
</div>
<div class="content">
<table class="editor">
	<tr>
		<td class="col">col1</td>
		<td><input type="text" class="text" /></td>
	</tr>
	<tr>
		<td class="col">col2</td>
		<td>
			<select class="select">
				<option>1</option>
				<option>2</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><div id="btnBack"><span class="ui-icon ui-icon-arrowreturnthick-1-w" style="float:left;"></span>back</div></td>
		<td style="float:right;"><div id="btnSave"><span class="ui-icon ui-icon-disk" style="float:left;"></span>Save</div></td>
	</tr>
</table>
<div id="list"></div>
</div>
<div style="clear:both"></div>
</div>
</body>

</html>
