{% if not classlist %}
<h2>Class List</h2>
<table class="tablelist">
<tr class="rowheader">
<td class="cellitem">Id</td>
<td class="cellitem">Class Name</td>
<td class="cellitem">Description</td>
<td class="cellitem">Start Date</td>
<td class="cellitem"># of Students</td>
<td class="cellitem">Due Date</td>
<td class="cellitem">Add</td>
</tr>
<tr class="rowitem">
<td class="cellitem" colspan="7" align="center">No data exist</td>
</tr>
</table>
{% else %}
<h2>Class List</h2>
<table class="tablelist">
<tr class="rowheader">
<td class="cellitem">Id</td>
<td class="cellitem">Class Name</td>
<td class="cellitem">Description</td>
<td class="cellitem">Start Date</td>
<td class="cellitem"># of Students</td>
<td class="cellitem">Due Date</td>
<td class="cellitem">Add</td>
</tr>
{% for class in classlist %}
    <tr id="{{ class.id }}" class="rowitem">
	<td class="cellitem">{{ class.id }}</td>
	<td class="cellitem">{{ class.code }}</td>
	<td class="cellitem">{{ class.classid.description }}</td>
	<td class="cellitem">{{ class.startdate }}</td>
	<td class="cellitem">{{ class.getNumberOfStudents }}</td>
	<td class="cellitem"><input type="text" class="datepicker" text="{{ class.id}}" value="" /></td>
	<td class="cellitem"><input type="button" class="button addClassassignment" style="width:50px;" text="{{ class.id}}" value="add" style="display: block;"></td>
	</tr>
{% endfor %}
</table>
{% endif %}
