{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/Prototype.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
</head>

<body>
<script>
function EDITTABLE(){
	var thisClass = this;
	this.setProgressBar = function(progress) {
		$( "#progressbar" ).progressbar({
	      value: progress
	    });
	}
	
	this.getData = function(submissionid, versionid) {
		var url = "{% url 'tsweb:tprocessajax' %}";
		$.getJSON(
			url,
			{	'class' :  'SUBMISSIONREVIEW',
				'method' : 'getSubmissionVersion',
				'submissionid' : submissionid,
				'versionid' : versionid },
			function(result){
				$.each(result, function(ini,val){
					if(ini == "submissionprogress")
						thisClass.setProgressBar(val);
					else if($('#ele_' + ini).is("span"))
						$('#ele_' + ini).html(val);
					else 
						$('#ele_' + ini).val(val);
				});
			})
			.error(function(xhr, status, error) {
			    alert('Error occur. Please contact the administrator.');
		});
	}
	
	this.save = function() {
		window.location = "{% url 'tsweb:tsubmissionlist' %}";
	}

	this.initContent = function(){
		$('#btnReturn').click(function() {
			window.location = "{% url 'tsweb:tsubmissionlist' %}";
		});
		
		$('#btnSave').click(function() {
			thisClass.save();
		});
		
		$('#ele_submissionversionversion').change(function() {
			thisClass.getData($('#ele_submissionid').val(),$('#ele_submissionversionversion').val());
		});
		
		thisClass.getData($('#ele_submissionid').val(),'');
	}
}

$(function() {
	var gen = new EDITTABLE();
	gen.initContent();
});
</script>
<input type="hidden" id="ele_submissionid" value="{{ id }}">
<input type="hidden" id="ele_submissionversionid">
<div class="placeholder">
<div class="header">
<div class="headertext">
<h1>Application Name - Submission Review</h1>
</div>
<div class="headerbutton">
<a href="{% url 'tsweb:logout' %}"><img src="{% static 'tsweb/image/logout.png' %}"/></a>
<a href=""><img src="{% static 'tsweb/image/userdetails.png' %}" /></a>
<a href=""><img src="{% static 'tsweb/image/username.png' %}" style="margin-top:12px;" /></a>
</div>
</div>
<div style="width:130px;position:relative;float:left;top:40px;margin-left:10px;text-align:center;">
<img src="{% static 'tsweb/image/anonymous.png' %}" />
</div>
<div style="width:540px;position:relative;float:left;top:40px;margin-left:40px;padding-bottom:52px;">
<div style="border:1px #666666 solid;height:63px;">
<span style="font-size:34px;line-height:63px;margin-left:10px;float:left;position:relative;width:480px;">{{ studentname }}</span>
<img src="{% static 'tsweb/image/downarrow-gray.png' %}" style="float:right;position:relative;top:20px;right:20px;" />
</div>
<div style="margin-top:10px;">
<select id="ele_submissionversionversion" class="selection" style="position:relative;float:left;">
{% for row in submissionversionlist %}
	<option value="{{ row.id }}">Revision {{ row.version }}</option>
{% endfor %}
</select>
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;" value="Return" id="btnReturn">
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;margin-right:10px;" value="Submit" id="btnSubmit">
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;margin-right:10px;" value="Save" id="btnSave">
</div>
<div class="clear"></div>
<div style="margin-top:10px;">
<div style="width:538px;height:32px;border:1px black solid;">
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/save.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/indent-right.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/indent-left.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/justify-left.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/justify-right.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/bold.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/italic.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/strike.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/underline.png' %}" style="margin-top:2px;" /></a>
</div>
<textarea id="ele_submissionversionessay" style="width:536px;height:518px;border:1px #B9B9B9 solid;overflow:scroll;">
</textarea>
</div>
</div>
<div style="width:270px;position:relative;float:left;top:40px;margin-left:20px;">
<span style="text-decoration:underline;font-weight:bold;">Assigment Details</span>
<table>
<tr>
<td style="width:100px;">Name:</td>
<td><span id="ele_assignmentname"></span>&nbsp;r #: <span id="ele_submissionversionversion"></span></td>
</tr>
<tr>
<td>Description:</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="2">
<textarea id="ele_assignmentdesc" style="width:257px;height:58px;color:#282828;background-color:#E2E2E2;border:0px;" readonly="readonly"></textarea>
</td>
</tr>
<tr>
<td>Max Words:</td>
<td><span id="ele_assignmentmaxword"></span></td>
</tr>
<!--<tr>
<td>Category:</td>
<td>&nbsp;Homework</td>
</tr>
-->
<tr>
<td>Grading Criteria:</td>
<td><span id="ele_assignmentrubric"></span></td>
</tr>
<tr>
<td>Due Date:</td>
<td><span id="ele_submissionduedate"></span></td>
</tr>
<tr>
<td>Completion %:</td>
<td><div id="progressbar" style="height:12px;width:144px;"></div></td>
</tr>
</table>
<span style="text-decoration:underline;font-weight:bold;">Tagging</span><br/>
<div style="height:42px;margin-top:5px;border:1px #666666 solid;">
<input type="text" style="width:219px;height:20px;margin-top:8px;margin-left:5px;">
<img src="{% static 'tsweb/image/magnify.png' %}" style="float:right;position:relative;top:8px;right:5px;" />
</div>
<div style="height:212px;border:1px #666666 solid;">
<input type="text" id="tag" name="tag[]" value="" class="tag"/>
</div>
<span style="text-decoration:underline;font-weight:bold;">Tag Comment</span><br/>
<textarea style="width:264px;height:98px;background-color:#E2E2E2;margin-top:5px;"></textarea>
</div>
<div class="clear" style="height:52px;position:relative;margin-top:716px;background-color:#555555;"></div>
</div>
</body>

</html>
