{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/Prototype.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/jquery.tagedit.css' %}" />
	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.cookie.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.json-2.4.min.js' %}"></script>
	<script src="{% static 'tsweb/js/util.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.autoGrowInput.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.tagedit.js' %}"></script>
</head>

<body>
<script>
function EDITTABLE(){
	var thisClass = this;
	var evalClass = 'SUBMISSIONREVIEW';
	var essay;
	var url = "{% url 'tsweb:tprocessajax' %}";
	this.startHighlightPositon = '';
	
	this.setProgressBar = function(progress) {
		$( "#progressbar" ).progressbar({
	      value: progress
	    });
	}
	
	this.highlightEssay = function() {
		$.getJSON(
		url,
		{	'class' :  'SUBMISSIONREVIEW',
			'method' : 'getSubmissionVersionHighlightList',
			'versionid' : $('#ele_submissionversionid').val() },
		function(result1){ 
			for (var i=0;i<result1.length;i++) {
				var essayhtml = $('#ele_submissionversionessay').html();
				essayhtml = essayhtml .replace(result1[i].hightlighttext, '<span id="' + result1[i].id + '" style="background: red;" class="essayhighlight" onClick="openHighlightDialog(' + result1[i].id + ');">' + result1[i].hightlighttext + '</span>');
				$('#ele_submissionversionessay').html(essayhtml);
			}
		})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}

	this.getData = function (submissionid, versionid) {
	    $.getJSON(
			url,
			{ 'class': 'SUBMISSIONREVIEW',
			    'method': 'getSubmissionVersion',
			    'submissionid': submissionid,
			    'versionid': versionid
			},
			function (result) {
			    $.each(result, function (ini, val) {
			        if (ini == "submissionprogress")
			            thisClass.setProgressBar(val);
			        else if (ini == "currentversion") {
			            if (val == 'y') {
			                $('#btnedithighlight').show();
			                $('#btnSubmit').show();
			            }
			            else {
			                $('#btnedithighlight').hide();
			                $('#btnSubmit').hide();
			            }
			        }
			        else if ($('#ele_' + ini).is("span") || $('#ele_' + ini).is("div"))
			            $('#ele_' + ini).html(val);
			        else
			            $('#ele_' + ini).val(val);
			    });

			    essay = $('#ele_submissionversionessay').html();

			    thisClass.highlightEssay();
			    thisClass.tagHighlightList();
			    thisClass.getSubmitRubric();
			})
			.error(function (xhr, status, error) {
			    alert('Error occur. Please contact the administrator.');
			});
	}
	
	this.save = function() {
		window.location = "{% url 'tsweb:tsubmissionlist' %}";
	}
	
	this.getSelectionCharOffsetsWithin = function(element) {
	    var start = 0, end = 0;
	    var sel, range, priorRange;
	    if (typeof window.getSelection != "undefined") {
	        range = window.getSelection().getRangeAt(0);
	        priorRange = range.cloneRange();
	        priorRange.selectNodeContents(element);
	        priorRange.setEnd(range.startContainer, range.startOffset);
	        start = priorRange.toString().length;
	        end = start + range.toString().length;
	    } else if (typeof document.selection != "undefined" &&
	            (sel = document.selection).type != "Control") {
	        range = sel.createRange();
	        priorRange = document.body.createTextRange();
	        priorRange.moveToElementText(element);
	        priorRange.setEndPoint("EndToStart", range);
	        start = priorRange.text.length;
	        end = start + range.text.length;
	    }
	    return {
	        start: start,
	        end: end
	    };
	}
	
	this.getHighlightDataTag = function(highlightid) {
		$.getJSON(
			url,
			{	'class' :  'SUBMISSIONREVIEW',
				'method' : 'getSubmissionVersionHighlightTags',
				'highlightid' : highlightid },
			function(result){
				$(".tagedit-listelement-old").remove();
				var displaytxt = '';
				for (var i=0;i<result.length;i++) {
					var tagitem = '<li class="tagedit-listelement tagedit-listelement-old"><span dir="ltr">' + result[i].name + '</span><input type="hidden" name="tag[' + result[i].id + '-a]" value="' + result[i].name + '"><a class="tagedit-close" title="Remove from list.">x</a></li>'
					$(tagitem).insertBefore('.tagedit-listelement-new');
					if (displaytxt != '')
						 displaytxt = displaytxt + ', '
					displaytxt = displaytxt + result[i].name;
				}
				$('#ele_highlightTagDisplay').text(displaytxt);
		})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}

	this.getHighlightData = function(highlightid) {
		$('#ele_highlightid').val(highlightid);
		
		$.getJSON(
			url,
			{	'class' :  'SUBMISSIONREVIEW',
				'method' : 'getSubmissionVersionHighlight',
				'highlightid' : highlightid },
			function(result){
				$.each(result, function(ini,val){
					if($('#ele_' + ini).is("span") || $('#ele_' + ini).is("div"))
						$('#ele_' + ini).html(val);
					else 
						$('#ele_' + ini).val(val);
				});
				
				thisClass.getHighlightDataTag(highlightid);
				thisClass.showHighlightDialog(true);
		})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.showHighlightDialog = function(show) {
		if(show) {
			$('#diveditbg').show();
			$('#divedithighlight').show();
			if($('#ele_highlightid').val() != '')
			{
				thisClass.editHighlightDialog(false);
				$('#btndeletehighlight').show();
			}
			else
			{
				thisClass.editHighlightDialog(true);
				$('#btndeletehighlight').hide();
			}
		}
		else {
			$('#diveditbg').hide();
			$('#divedithighlight').hide();
			$('#ele_highlightid').val('');
			$('#ele_highlighttext').val('');
			$('#ele_highlightTagDisplay').text('');
			$('.tagedit-listelement-old').remove();
			$('#ele_highlightComment').val('');
		}
	}
	
	this.editHighlightDialog = function(edit) {
		if(edit) {
			$('#edithighlight').show();
			$('#viewhighlight').hide();
			$('#tdtagdisplay').hide();
			$('#tdtag').show();
			$('#ele_highlightTag').removeAttr("disabled"); 
			$('#ele_highlightComment').removeAttr("disabled"); 
			$('.tagedit-list').removeAttr("disabled"); 
		}
		else {
			$('#edithighlight').hide();
			$('#viewhighlight').show();
			$('#tdtagdisplay').show();
			$('#tdtag').hide();
			$('#ele_highlightTag').attr("disabled", "disabled");
			$('#ele_highlightComment').attr("disabled", "disabled");
		}
	}

	this.tagHighlightList = function () {
	    $.getJSON(
			url,
			{ 'class': evalClass,
			    'method': 'tagHighlightList',
			    'submissionversionid': $('#ele_submissionversionid').val()
			},
			function (result) {
			    $("#tagBox").html('');
			    $("#commentArea").val('');
			    $("<ul>").attr("id", "tagList").appendTo("#tagBox");
			    if (result.length > 0) {
			        $.each(result, function (i, val) {
			            var li = $("<li>");

			            //create link
			            $("<a>").text(val.name).attr({ "data-id": val.id, href: "#", class: "tagClickHighlightList" }).appendTo(li);

			            //set tag size
			            if (val.parentid == 0) {
			                li.children().css({ 'font-size': '2em', 'font-weight': 'bold' });
			            } else {
			                li.children().css({ 'font-size': '1.7em' });
			            }

			            //add to list
			            li.appendTo("#tagList");
			        });
			    } else {
			        $("#tagList").height('50');
			    }

			    $(".tagClickHighlightList").click(function () {
			        var id = $(this).data("id");
			        thisClass.tagClickHighlightList(id);
			        return false;
			    });
			}).error(function (xhr, status, error) {
			    alert('Error occur. Please contact the administrator.');
			});
	}
	
	this.tagClickHighlightList = function(id){
		var highlightid;
		var textComment = '';
		$.getJSON(
			url,
			{	'class' :  evalClass,
				'method' : 'tagClickHighlightList',
				'taglinkid' : id,
				'submissionversionid' : $('#ele_submissionversionid').val() },
			function(result){
			$(".essayhighlight").css({'background':'red'});
			$.each(result, function(i, val) {
				highlightid = val.id;
				$("#"+highlightid+".essayhighlight").css({'background':'yellow'});
				textComment += "- " + val.comment + "\n";
			});
			$("#commentArea").val(textComment);
		}).error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.save = function(){
		var highlightid = $('#ele_highlightid').val();
		var tagids = [];
		//var tagids = new Array();
		var i=0;
		$('input[name*="-a"]').each(function(index) {
			var name = $(this).attr('name');
			name = name.replace('tag[','');
			name = name.replace('-a]', '');
			tagids.push(name);
		});

		if (highlightid != '') {
			//update
			thisClass.saveEditTags(tagids,'save');
		}
		else {
			//insert
			thisClass.saveEditTags(tagids,'add');
		}
	}
	
	this.saveEditTags = function(tagids, method){
		var odata;
		if(method == 'add')
		{
			odata = {	class: evalClass,
				method: 'addSubmissionversionHighlight',
				submissionversionid: $('#ele_submissionversionid').val(),
				start : thisClass.startHighlightPositon,
				highlighttext : $('#ele_highlighttext').val(),
				highlightComment : $('#ele_highlightComment').val(),
				tagids: tagids
			};
		}else if(method == 'save'){
			odata = {	class: evalClass,
				method: 'saveSubmissionversionHighlight',
				highlightid : $('#ele_highlightid').val(),
				submissionversionid: $('#ele_submissionversionid').val(),
				highlightComment : $('#ele_highlightComment').val(),
				tagids: tagids
			};
		}
		
		$.post( url, odata,
			function(result){
				$('#ele_highlightid').val(result.recid);
				thisClass.editHighlightDialog(false);
				thisClass.getHighlightData(result.recid);
				thisClass.getData($('#ele_submissionid').val(),$('#ele_submissionversionversion').val());
				thisClass.getHighlightData(result.recid);
			})
			.error(function(xhr, status, error) {
	    		alert('Error occur. Please contact the administrator.');
	    	});
	}
	
	this.del = function(){
		var highlightid = $('#ele_highlightid').val();
		
		$.post(url,
			{	'class' :  'SUBMISSIONREVIEW',
				'method' : 'delete',
				'highlightid' : highlightid },
			function(result){
				thisClass.showHighlightDialog(false);
				thisClass.getData($('#ele_submissionid').val(), $('#ele_submissionversionid').val());
			})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.showSubmitDialog = function(show) {
		if(show) {
			$('#diveditbg').show();
			$('#submitpopup').show();
		}
		else {
			$('#diveditbg').hide();
			$('#submitpopup').hide();
		}
	}
	
	this.submit = function() {
		var criteriaid =[]; 
		var criteriaval = [];
		var value,odata;
		var submissionversionid = $('#ele_submissionversionid').val();
		thisClass.showSubmitDialog(true);
		
		$(".submit_criteria").each(function(){
			id = $(this).attr('id');
			value = $(this).val();
			
			criteriaid.push(id);
			criteriaval.push(value);
		});
		odata = {'class' :  'SUBMISSIONREVIEW',
 			 'method' : 'submit',
 			 'submissionversionid' : submissionversionid,
 			 'stage' : $("#submit_stage").val(),
 			 'comment' : $("#submit_comment").val(),
 			 'progress' : $("#submit_progress").val(),
 			 'criteriaid': criteriaid,
 			 'criteriaval': criteriaval
 			 };

		$.post(url,odata,
			function(result){
				thisClass.showSubmitDialog();
				window.location = "{% url 'tsweb:tsubmissionlist' %}";
			})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.getSelectStage = function(){
		var option = '';
		$.getJSON(
			url,
			{	'class' :  evalClass,
				'method' : 'getSelectStage'
			},
			function(result){
				$.each(result, function(ini,val){
					option += '<option value="'+val.selectionvalue+'">'+val.selectionname+'</option>';
				});
				$("#submit_stage").append(option);
		}).error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.getSubmitRubric = function(){
		var html = '';
		$.getJSON(
			url,
			{	'class' :  evalClass,
				'method' : 'getSubmitRubric',
				'submissionid' : $("#ele_submissionid").val()
			},
			function(result){
			$(".submitRubricTr").remove();
			$.each(result,function(ini, val){
				html += '<tr class="submitRubricTr"><td>'+val.criteria+' :</td><td>';
				html += '<select class="submit_criteria" id="'+val.id+'" name="'+val.criteria+'">';
				html += '</select>';
				html += '</td></tr>';
				thisClass.getSelectRubricCriteria(val.id, val.rubricid); 
			});
			$(html).insertBefore("#editSubmit");
		}).error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
	
	this.getSelectRubricCriteria = function(id,rubricid){
		var html = '';
		$.getJSON(
			url,
			{	'class' :  evalClass,
				'method' : 'getSelectRubricCriteria',
				'rubricid' : rubricid
			},
			function(result){
			$.each(result,function(ini, val){
				html += '<option value="'+val.id+'">'+val.scale+'</option>';
			});
			$('#'+id+'.submit_criteria').append(html);
		}).error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
	}
			
	this.initContent = function(){
		thisClass.getData($('#ele_submissionid').val(),'');
		
		thisClass.showHighlightDialog(false);
		
		thisClass.getSelectStage();

		$('#ele_submissionversionessay').mouseup(function() {
			var node = this;
			if(thisClass.getSelectionCharOffsetsWithin(node).start != thisClass.getSelectionCharOffsetsWithin(node).end)
			{
				var start = thisClass.getSelectionCharOffsetsWithin(node).start;
				var end = thisClass.getSelectionCharOffsetsWithin(node).end;
				var htxt = essay;
				htxt = htxt.substring(start,end);
				//alert(htxt);
				thisClass.startHighlightPositon = start;
				$('#ele_highlighttext').val(htxt);
				thisClass.showHighlightDialog(true);
			}
		});
		
		$('#btnedithighlight').click(function() {
			thisClass.editHighlightDialog(true);
		});
		
		$('#btncloseedithighlight').click(function() {
			thisClass.showHighlightDialog(false);
		});
		
		$('#btnsavehighlight').click(function() {
			thisClass.save();
			thisClass.editHighlightDialog(false);
		});
		
		$('#btndeletehighlight').click(function() {
			thisClass.del();
		});
		
		$('#btncancelhighlight').click(function() {
			if($('#ele_highlightid').val() != '')
			{
				var highlightid = $('#ele_highlightid').val();
				thisClass.getHighlightData(highlightid);
				thisClass.editHighlightDialog(false);
			}
			else
				thisClass.showHighlightDialog(false);
		});

		$('#btnReturn').click(function() {
			window.location = "{% url 'tsweb:tsubmissionlist' %}";
		});
		
		$('#btnSubmit').click(function() {
			thisClass.showSubmitDialog(true);
		});
		
		$("#btncancelsubmit").click(function(){
			thisClass.showSubmitDialog();
		});
		
		$("#btnsavesubmit").click(function(){
			thisClass.submit();
		});
		
		$('#ele_submissionversionversion').change(function() {
			thisClass.getData($('#ele_submissionid').val(),$('#ele_submissionversionversion').val());
		});	
		
		$( '#tdtag input.tag' ).tagedit({
			autocompleteURL: "{% url 'tsweb:gettags' 5 %}",
			autocompleteOptions: {minLength: 3},
			allowEdit:false
		});
	}
}

$(function() {
	var gen = new EDITTABLE();
	gen.initContent();
});

function openHighlightDialog(highlightid){
	var gen = new EDITTABLE();
	gen.getHighlightData(highlightid);
}
</script>
<input type="hidden" id="ele_submissionid" value="{{ id }}">
<input type="hidden" id="ele_submissionversionid">
<div id="diveditbg" style="background-color:gray;z-index:1;width:100%;height:100%;position:absolute;opacity:0.4;"></div>
<div id="submitpopup" style="z-index:2;width:500px;position:absolute;background-color:white;margin-top:10%;margin-left:35%;padding:10px;display:none;">
<table style="width:100%;">
<tr>
	<td>Stage :</td>
	<td><select id="submit_stage"></select></td>	
</tr>
<tr>
	<td>Comment :</td>
	<td>
		<textarea id="submit_comment"></textarea>
	</td>
</tr>
<tr>
	<td>Progress :</td>
	<td><input type="text" id="submit_progress"></td>
</tr>
<tr id="editSubmit">
	<td colspan="2" style="text-align:center;">
		<input id="btnsavesubmit" type="button" class="button" style="width:80px;height:26px;" value="Save">&nbsp;
		<input id="btncancelsubmit" type="button" class="button" style="width:80px;height:26px;" value="Cancel">
	</td>
</tr>
</table>
</div>
<div id="divedithighlight" style="z-index:2;width:500px;position:absolute;background-color:white;margin-top:10%;margin-left:35%;padding:10px;">
	<input id="ele_highlightid" type="hidden">
	<input id="ele_highlighttext" type="hidden">
	<table style="width:100%;">
		<tr>
			<td>Tag:</td>
			<td id="tdtag">
				<input id="ele_highlightTag" type="text" name="tag[]" value="" class="tag" style="width:420px;"/>
			</td>
			<td id="tdtagdisplay">
				<label id="ele_highlightTagDisplay"></label>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">Comment:</td>
			<td><textarea id="ele_highlightComment" style="width:420px;height:100px;resize:none;"></textarea></td>
		</tr>
		<tr id="viewhighlight">
			<td colspan="2" style="text-align:center;">
				<input id="btnedithighlight" type="button" class="button" style="width:80px;height:26px;" value="Edit">&nbsp;
				<input id="btncloseedithighlight" type="button" class="button" style="width:80px;height:26px;" value="Close">
			</td>
		</tr>
		<tr id="edithighlight">
			<td colspan="2" style="text-align:center;">
				<input id="btnsavehighlight" type="button" class="button" style="width:80px;height:26px;" value="Save">&nbsp;
				<input id="btndeletehighlight" type="button" class="button" style="width:80px;height:26px;" value="Delete">&nbsp;
				<input id="btncancelhighlight" type="button" class="button" style="width:80px;height:26px;" value="Cancel">
			</td>
		</tr>
	</table>
</div>
<div class="placeholder">
<div class="header">
<div class="headertext">
<h1>Application Name - Submission Review</h1>
</div>
<div class="headerbutton">
<a href="{% url 'tsweb:logout' %}"><img src="{% static 'tsweb/image/logout.png' %}"/></a>
<a href=""><img src="{% static 'tsweb/image/userdetails.png' %}" /></a>
<a href=""><img src="{% static 'tsweb/image/username.png' %}" style="margin-top:12px;" /></a>
</div>
</div>
<div style="width:130px;position:relative;float:left;top:40px;margin-left:10px;text-align:center;">
<img src="{% static 'tsweb/image/anonymous.png' %}" />
</div>
<div style="width:540px;position:relative;float:left;top:40px;margin-left:40px;padding-bottom:52px;">
<div style="border:1px #666666 solid;height:63px;">
<span style="font-size:34px;line-height:63px;margin-left:10px;float:left;position:relative;width:480px;">{{ studentname }}</span>
<img src="{% static 'tsweb/image/downarrow-gray.png' %}" style="float:right;position:relative;top:20px;right:20px;" />
</div>
<div style="margin-top:10px;">
<select id="ele_submissionversionversion" class="selection" style="position:relative;float:left;">
{% for row in submissionversionlist %}
	<option value="{{ row.id }}">Revision {{ row.version }}</option>
{% endfor %}
</select>
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;" value="Return" id="btnReturn">
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;margin-right:10px;" value="Submit" id="btnSubmit">
</div>
<div class="clear"></div>
<div style="margin-top:10px;">
<div id="ele_submissionversionessay" style="width:536px;height:540px;border:1px #B9B9B9 solid;overflow-y:scroll;"></div>
</div>
</div>
<div style="width:270px;position:relative;float:left;top:40px;margin-left:20px;">
<span style="text-decoration:underline;font-weight:bold;">Assigment Details</span>
<table>
<tr>
<td style="width:100px;">Name:</td>
<td><span id="ele_assignmentname"></span>&nbsp;r #: <span id="ele_submissionversionversion"></span></td>
</tr>
<tr>
<td>Description:</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="2">
<textarea id="ele_assignmentdesc" style="width:257px;height:58px;color:#282828;background-color:#E2E2E2;border:0px;resize:none;" readonly="readonly"></textarea>
</td>
</tr>
<tr>
<td>Max Words:</td>
<td><span id="ele_assignmentmaxword"></span></td>
</tr>
<!--<tr>
<td>Category:</td>
<td>&nbsp;Homework</td>
</tr>
-->
<tr>
<td>Grading Criteria:</td>
<td><span id="ele_assignmentrubric"></span></td>
</tr>
<tr>
<td>Due Date:</td>
<td><span id="ele_submissionduedate"></span></td>
</tr>
<tr>
<td>Completion %:</td>
<td><div id="progressbar" style="height:12px;width:144px;"></div></td>
</tr>
</table>
<span style="text-decoration:underline;font-weight:bold;">Comment</span><br/>
<textarea id="ele_submissioncomment" style="width:264px;height:98px;background-color:#E2E2E2;margin-top:5px;resize:none;"></textarea>
<span style="text-decoration:underline;font-weight:bold;">Tagging</span><br/>
<style>
#tagBox { 
	background-color:#575454;
 	text-align:center;
 	padding:5px;
 	overflow:auto;
 	font-size:70%;
 	font-family:arial;
}
#tagBox h2 { 
	color:#ffffff; 
	font-size:2.5em; 
	margin:0 0 10px -150px; 
}
#tagList { margin:0; padding:0; }
#tagList li { list-style-type:none; float:left; margin:0 10px; height:35px; }
#tagList li a { text-decoration:none; color:#ffffff; }
#tagList li a:hover { text-decoration:underline; }
</style>
<div id="tagBox"></div>
<span style="text-decoration:underline;font-weight:bold;">Tag Comment</span><br/>
<textarea id="commentArea" style="width:264px;height:98px;background-color:#E2E2E2;margin-top:5px;resize:none;"></textarea>
</div>
<div class="clear" style="height:52px;position:relative;margin-top:716px;background-color:#555555;"></div>
</div>
</body>

</html>
