{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/Prototype.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/jquery.tagedit.css' %}" />
	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.tagedit.js' %}"></script>
</head>

<body>
<script>

$(function() {
	$('#tag').tagedit({
//  		autocompleteURL: 'path/to/your/server' 
	});

	$( "#progressbar" ).progressbar({
      value: 77
    });
    
	$('#btnReturn').click(function() {
		window.location = "{% url 'tsweb:tsubmissionlist' %}";
	});
	
	$('#btnSave').click(function() {
		Save();
	});
});

function Save() {
	window.location = "{% url 'tsweb:tsubmissionlist' %}";
}

</script>
<div class="placeholder">
<div class="header">
<div class="headertext">
<h1>Application Name - Submission Review</h1>
</div>
<div class="headerbutton">
<a href="{% url 'tsweb:logout' %}"><img src="{% static 'tsweb/image/logout.png' %}"/></a>
<a href=""><img src="{% static 'tsweb/image/userdetails.png' %}" /></a>
<a href=""><img src="{% static 'tsweb/image/username.png' %}" style="margin-top:12px;" /></a>
</div>
</div>
<div style="width:130px;position:relative;float:left;top:40px;margin-left:10px;text-align:center;">
<img src="{% static 'tsweb/image/anonymous.png' %}" />
</div>
<div style="width:540px;position:relative;float:left;top:40px;margin-left:40px;padding-bottom:52px;">
<div style="border:1px #666666 solid;height:63px;">
<span style="font-size:34px;line-height:63px;margin-left:10px;float:left;position:relative;width:480px;">James McCracken</span>
<img src="{% static 'tsweb/image/downarrow-gray.png' %}" style="float:right;position:relative;top:20px;right:20px;" />
</div>
<div style="margin-top:10px;">
<select class="selection" style="position:relative;float:left;">
<option>Revision #</option>
<option>Revision 1</option>
<option>Revision 2</option>
</select>
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;" value="Return" id="btnReturn">
<input type="button" class="button" style="width:80px;height:26px;position:relative;float:right;margin-right:10px;" value="Save" id="btnSave">
</div>
<div class="clear"></div>
<div style="margin-top:10px;">
<div style="width:538px;height:32px;border:1px black solid;">
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/save.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/indent-right.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/indent-left.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/justify-left.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/justify-right.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/bold.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/italic.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/strike.png' %}" style="margin-top:2px;" /></a>
<a href="" style="display:inline-block;color:white;height:100%;"><img src="{% static 'tsweb/image/underline.png' %}" style="margin-top:2px;" /></a>
</div>
<textarea id="txtarea" style="width:536px;height:518px;border:1px #B9B9B9 solid;overflow:scroll;">
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non velit eu elit venenatis venenatis. Cras est elit, gravida vel sollicitudin vitae, consectetur eu odio. Vestibulum ut quam eu arcu facilisis pellentesque. Donec suscipit magna at urna venenatis varius. Nulla in diam vel purus congue vehicula non ut ante. Etiam id gravida velit, in pellentesque justo. Etiam vulputate nisi id molestie fermentum. Duis ut cursus lacus.

        Vestibulum augue erat, lobortis ac elementum gravida, pellentesque a felis. Phasellus ac neque ipsum. Duis vel tortor lorem. Sed pretium aliquam urna, id convallis mauris tempus eu. Pellentesque iaculis, lorem in lobortis volutpat, urna erat laoreet velit, eget imperdiet enim quam sollicitudin justo. Nunc at metus eleifend, malesuada turpis a, faucibus nulla. Nullam malesuada condimentum sollicitudin. Cras porta mauris nec dapibus tincidunt. Nam sed odio et est molestie lobortis. Quisque ultricies cursus velit, ac sodales dui dignissim non. Morbi suscipit eleifend blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras quam nulla, adipiscing non vestibulum convallis, tristique vel augue. Aliquam tristique feugiat imperdiet. Etiam nec ullamcorper libero.

        Morbi vitae ante felis. Quisque vitae odio a dolor mattis auctor. Nam tempus in eros nec convallis. Integer non lorem tristique lorem lacinia laoreet. Curabitur in sapien et ante interdum tincidunt a vitae ipsum. Suspendisse eget sem consectetur, commodo lacus sit amet, ornare arcu. Curabitur pulvinar auctor justo, et euismod mauris rutrum a. Ut cursus sem est, vitae fringilla nunc aliquet eu.

        Donec viverra placerat purus, vitae adipiscing sem pulvinar in. Ut volutpat facilisis gravida. Maecenas varius erat quis metus feugiat dapibus. Vivamus pretium purus tincidunt auctor pharetra. Suspendisse id placerat dolor. Nullam sem felis, bibendum sit amet blandit eu, varius sit amet tortor. Vivamus dignissim neque vel mi fermentum lobortis. Proin eu molestie purus, sed vulputate dui. Vestibulum ac sodales lacus. Aenean tempus, eros ac ornare consequat, enim eros interdum arcu, at aliquam orci magna et massa. Morbi eu nibh id enim dictum porttitor. Sed a sapien neque. Nunc in aliquet turpis. Etiam varius pharetra ante, quis pharetra velit porttitor nec. Nam sed neque condimentum, fringilla nisi in, sagittis velit. Fusce nec varius erat, vel faucibus neque.

Pellentesque vel neque lacinia, egestas nunc id, consectetur dui. Pellentesque fringilla tempus augue quis dapibus. Quisque eget mattis massa, at iaculis nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis imperdiet sollicitudin. Cras aliquet arcu nunc, vitae dignissim mauris ornare nec. Proin quis lorem velit. Suspendisse dignissim lorem orci, vel cursus eros vehicula sed. Proin diam diam, iaculis at pretium at, elementum luctus eros. Aenean porttitor metus non eros porta, a placerat magna tempor. Integer auctor turpis vel ligula mollis cursus. Pellentesque imperdiet sem nec lacus placerat, sed lacinia dolor vehicula.
</textarea>
</div>
</div>
<div style="width:270px;position:relative;float:left;top:40px;margin-left:20px;">
<span style="text-decoration:underline;font-weight:bold;">Assigment Details</span>
<table>
<tr>
<td style="width:100px;">Name:</td>
<td>&nbsp;Assignment-0001&nbsp;r #: 2</td>
</tr>
<tr>
<td>Description:</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="2">
<textarea style="width:257px;height:58px;color:#282828;background-color:#E2E2E2;border:0px;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non velit eu elit venenatis venenatis. Cras est elit, gravida vel sollicitudin vitae,
</textarea>
</td>
</tr>
<tr>
<td>Max points:</td>
<td>&nbsp;out of 100</td>
</tr>
<tr>
<td>Category:</td>
<td>&nbsp;Homework</td>
</tr>
<tr>
<td>Grading criteria:</td>
<td>&nbsp;Rubric name</td>
</tr>
<tr>
<td>Due Date:</td>
<td>&nbsp;17-Sep-2013</td>
</tr>
<tr>
<td>Completion %:</td>
<td><div id="progressbar" style="height:12px;width:144px;"></div></td>
</tr>
</table>
<span style="text-decoration:underline;font-weight:bold;">Tagging</span><br/>
<div style="height:42px;margin-top:5px;border:1px #666666 solid;">
<input type="text" style="width:219px;height:20px;margin-top:8px;margin-left:5px;">
<img src="{% static 'tsweb/image/magnify.png' %}" style="float:right;position:relative;top:8px;right:5px;" />
</div>
<div style="height:212px;border:1px #666666 solid;">
<input type="text" id="tag" name="tag[]" value="" class="tag"/>
</div>
<span style="text-decoration:underline;font-weight:bold;">Tag Comment</span><br/>
<textarea style="width:264px;height:98px;background-color:#E2E2E2;margin-top:5px;"></textarea>
</div>
<div class="clear" style="height:52px;position:relative;margin-top:716px;background-color:#555555;"></div>
</div>
</body>

</html>
