<div class="table-responsive">
<table class="table table-bordered table-condensed table-hover">
	<tr class="rowheader">
		<td class="cellitem">Name</td>
		<td class="cellitem">Description</td>
		<td class="cellitem">Category</td>
		<td class="cellitem">Parent</td>
	</tr>
	{% for tag in taglist %}
	<tr id="{{ tag.id }}" class="rowitem" data-toggle="modal" data-target="#tag_modal">
		<td class="cellitem">{{ tag.name }}</td>
		<td class="cellitem">{{ tag.description }}</td>
		<td class="cellitem">{{ tag.getCategory }}</td>
		<td class="cellitem">{{ tag.getParent }}</td>
	</tr>
	{% endfor %}
</table>
</div>
<script>
$(function() {
	//var gen = new EDITTABLE();
	$('.rowitem').click(function() {
		var id = $(this).attr('id');
		new EDITTABLE().editTable(id);
	});
});
</script>