<div class="table-responsive">
<table class="table table-bordered table-condensed">
	<tr class="rowheader">
		<td class="cellitem col-lg-4">Tag Name</td>
		<td class="cellitem  col-lg-8">Tag Description</td>
	</tr>
	{% for tag in taglist %}
	<tr id="{{ tag.id }}" class="rowitem">
		<td class="cellitem col-lg-4">{{ tag.name }}</td>
		<td class="cellitem col-lg-8">&nbsp;{{ tag.desciption }}</td>
	</tr>
	{% endfor %}
</table>
</div>
<script>
$(function() {
	//var gen = new EDITTABLE();
	$('.rowitem').click(function() {
		var id = $(this).attr('id');
		new EDITTABLE().editTable(id);
	});
});
</script>