<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/> 
	<!--<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/Prototype.css' %}" />-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom-edited.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/topscholars.css' %}" />-->
	
	<link rel="stylesheet" href="../../../static/tsweb/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../static/tsweb/css/bootstrap-glyphicons.css" type="text/css" />
	<link rel="stylesheet" href="../../../static/tsweb/css/topscholars.css" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../static/tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css" />
	
<!--	<script src="{% static 'tsweb/js/jQuery1.10.1.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
	
	<script src="../../../static/tsweb/js/jQuery1-10-1.js" type="text/javascript"></script>
	<script src="../../../static/tsweb/js/bootstrap.js" type="text/javascript"></script>
	<script src="../../../static/tsweb/js/transition.js" type="text/javascript"></script>
	<script src="../../../static/tsweb/js/jquery-ui-1-10-3-custom-min.js" type="text/javascript"></script>
	<script src="../../../static/tsweb/js/jquery-touch-punch.min.js" type="text/javascript"></script>
</head>

<body>
	<nav class="navbar" role="navigation">
		<div class="container">
			<h1 class="logo"><a href="#">Writability - My Classroom</a></h1>
			<ul class="nav navbar-nav pull-right student-nav" >
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullhorn fa-lg notification"></i></a>
					<ul class="dropdown-menu">
						<li class="dropdown-title">Notifications</li>
						<li><a href="#">{% notification-name %}</a></li>
					</ul>
				</li>
				
				<li class="dropdown s-name">
					<a href="#" class="dropdown-toggle student-name" data-toggle="dropdown">{% user_name %}</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'tsweb:logout' %}"><i class="fa fa-power-off"></i> Log Out</a></li>
					</ul>
				</li>
			</ul>
			
			<form class="navbar-form navbar-left" role="search" id="search-form" method="" action="null">
				<div class="input-group col-lg-3 col-offset-6 col-sm-4">
					<input type="text" class="form-control" id="txtSearch">
			    <span class="input-group-btn">
			      <input class="btn btn-default" type="submit" value="Search">
			    </span>
			  </div><!-- /input-group -->
			</form>
	    
		</div>
	</nav> <!-- End Nav -->
	
	<div class="page-container">