<!--{% load staticfiles %}-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Unit</title>
	<meta charset="UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/smoothness/jquery-ui-1.10.3.custom-edited.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tsweb/css/topscholars.css' %}" />
	<link rel="stylesheet" href="{% static 'tsweb/css/bootstrap-glyphicons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'tsweb/css/hashtag.css' %}" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="{% static 'tsweb/js/jQuery1-10-1.js' %}" type="text/javascript"></script>
	<script src="{% static 'tsweb/js/WaterMark.js' %}"></script>
	<script src="{% static 'tsweb/js/bootstrap.js' %}" type="text/javascript"></script>
	<script src="{% static 'tsweb/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.cookie.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.datepick.js' %}"></script>
	<script src="{% static 'tsweb/js/util.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.validate.js' %}"></script>
	<script src="{% static 'tsweb/js/jquery.autosize.js' %}"></script>
	<script src="{% static 'tsweb/js/rangyinputs-jquery-1.1.2.min.js' %}"></script>
	<script src="{% static 'tsweb/js/hashtag.js' %}"></script>	
<script>
    EDITTABLE.prototype = new GridBase();
    var currentstage;
    var taglist;
function EDITTABLE(){
	var thisClass = this;
	var url = "{% url 'tsweb:tprocessajax' %}";
	var evalClass = 'UNITLIST';
	var tableClassAjax = 'TUNITLISTAJAX';
	this.availableTags = [];
	this.editTable = function (id) {
	    currentstage = 1;
	    $('.error').remove();
	    $('#accordion').find('.in').removeClass('in').addClass('collapse').css('height', '0px');
	    $('#collapseName').removeClass('collapse').addClass('in').css('height', 'auto');
	    thisClass.DisplayStage1();
		$.getJSON(
			url,
			{	class: evalClass,
				id: id  },
			function(result){
				$("[id^=ele_]").val('');
				$.each(result, function (ini, val) {
				    if (ini == "assignment") {
				        for (var i = 0; i < val.lenght; i++) {
				            var html = '<input type="text" name="ele_performance" class="form-control input-small" id="ele_performance" />';
				            html += '<button class="btn btn-small btn-default" data-toggle="modal" data-target="#new_pt_details_modal">Details</button>';
				            console.log(val[i]);
				        }
				    }
				    else {
				        thisClass.seperateElement($("#ele_" + ini), val);
				        thisClass.seperateView(ini, val);
				        if ((ini == 'establishedgoal') || (ini == 'essentialquestion') || (ini == 'knowledge') || (ini == 'skill') || (ini == 'understanding')) {
				            $("#ele_" + ini).parent().parent().find(".highlighter").html(val);
				            $("#ele_" + ini).hashtags({ refresh: true, autocompleteURL: taglist });
				        }
				    }
				});
		})
		.error(function(xhr, status, error) {
    		alert('Error occur. Please contact the administrator.');
    	});
		return false;
	}
	this.getUnitlist = function (description) {
	    $("#list").html("<div style='width:100%;position=relative;text-align:center;'><img src='{% static 'tsweb/image/ajax-loader.gif' %}' alt='' style='margin:auto;width=100px;height=100px;position=relative;' /></div>");
	    $.get("{% url 'tsweb:tprocessajax' %}",
		{
			class: tableClassAjax,
		    description: description
		},
		function (result) {
		    $("#list").html(result);
		}
		);
	}
	this.savestage1 = function (next) {
	    if ($("#ele_name").val() != '') {
	        var odata;
	        var method;
	        if ($("#ele_unitid").val() == "") {
	            method = "add";
	        } else {
	            method = "save";
	        }
	        odata = { 'class': evalClass, 'method': method, 'id': $('#ele_unitid').val(), 'name': $('#ele_name').val(), 'description': $('#ele_description').val(), 'essentialquestion': $('#ele_essentialquestion').val(), 'establishedgoal': $('#ele_establishedgoal').val(), 'knowledge': $('#ele_knowledge').val(), 'skill': $('#ele_skill').val(), 'understanding': $('#ele_understanding').val(), };
	        $.post(url, odata,
                function (result) {
                    if (result.status == 'error') {
                        $('#unitexistalert').show();
                    }
                    else {
                        $("#ele_unitid").val(result.id);
                        thisClass.getUnitlist('');
                    }
                    if (next) {
                        thisClass.DisplayStage2();
                    }
                })
            .error(function (xhr, status, error) {
                alert('Error occur. Please contact the administrator.');
            });
	    }
	}
	this.loadAvailableTags = function(){
		var obj;
		$.ajax({
	                type: "POST",
	                url: url,
	                dataType: "json",
	                async: false,
	                data:{	class: evalClass,
							method: 'loadAvailableTags' },
	                success: function(result)
	                {
						$.each(result, function(ini,val){
							obj = { id : 1 , value: '#'+val.name};
							thisClass.availableTags.push(obj);
						});
						taglist = thisClass.availableTags;
	                },
	                error: function(response) {
						alert('Error occur. Please contact the administrator.');
	                }
                });
	}
	this.Search = function(ele,event)
	{
		if (event.keyCode == 13) {
		    var term = $('#txtSearch').val();
		    if (term == 'Search') term = '';
		    thisClass.getUnitlist(term);
		}
		else
			ele.onKeyPress=event.keyCode;
	}
	this.DisplayStage1 = function () {
	    currentstage = 1;
	    $('#new_unit_modal .modal-title').text('New Unit - Stage 1 - Desired Results');
	    $('#stage_one').show();
	    $('#stage_two').hide();
	    $('#stage_three').hide();
	    $('#stage2Btn').show();
	    $('#stage3Btn').hide();
	    $('#goStage1').addClass('hide');
	    $('#goStage2').addClass('hide');
	    $('#btnSave').show();
	}
	this.DisplayStage2 = function () {
	    currentstage = 2;
	    $('#new_unit_modal .modal-title').text('New Unit - Stage 2 - Assessment Evidence');
	    $('#stage_one').hide();
	    $('#stage_two').show();
	    $('#stage_three').hide();
	    $('#stage2Btn').hide();
	    $('#stage3Btn').show();
	    $('#goStage1').removeClass('hide');
	    $('#goStage2').addClass('hide');
	    $('#btnSave').hide();
	}
	this.DisplayStage3 = function () {
	    currentstage = 3;
	    $('#new_unit_modal .modal-title').text('New Unit - Stage 3 - Activity Creation');
	    $('#stage_one').hide();
	    $('#stage_two').hide();
	    $('#stage_three').show();
	    $('#stage2Btn').hide();
	    $('#stage3Btn').hide();
	    $('#goStage1').addClass('hide');
	    $('#goStage2').removeClass('hide');
	    $('#btnSave').show();
	}
	this.getPerformanceData = function (id) {
	}
	this.addImpactCriteria = function () {
	    if ($('#add_impact_criteria').val() != '') {
	    }
	}
	this.addQualityCriteria = function () {
	    if ($('#add_quality_criteria').val() != '') {
	    }
	}
	this.addContentCriteria = function () {
	    if ($('#add_content_criteria').val() != '') {
	    } 
	}
	this.addProcessCriteria = function () {
	    if ($('#add_process_criteria').val() != '') {
	    }
	}
	this.savePerformance = function () {
	    if ($('#rubric_name').val() != '') {
	    }
	}
	this.getEvidenceData = function (id) {
	}
	this.saveEvidence = function () {
	    if ($('#evidence_name').val() != '') {
	    }
	}
	this.iniControl = function () {
	    $('form').submit(function (e) {
	        e.preventDefault();
	    });
	    Watermark('txtSearch', 'Search', 'noclass');
	    thisClass.getUnitlist('');
		$('#txtSearch').keypress(function(event) {
			thisClass.Search(this,event);
		});
	    $('#btnSearch').click(function () {
	        var term = $('#txtSearch').val();
	        if (term == 'Search') term = '';
	        thisClass.getUnitlist(term);
	    });
	    thisClass.loadAvailableTags();
        $("#ele_establishedgoal").hashtags({ autocompleteURL:thisClass.availableTags });
		$("#ele_essentialquestion").hashtags({ autocompleteURL:thisClass.availableTags });
		$("#ele_understanding").hashtags({ autocompleteURL:thisClass.availableTags });
		$("#ele_knowledge").hashtags({ autocompleteURL:thisClass.availableTags });
		$("#ele_skill").hashtags({ autocompleteURL: thisClass.availableTags });
		$("#new_unit_btn").click(function () {
		    $('.error').remove();
		    currentstage = 1;
		    $('#accordion').find('.in').removeClass('in').addClass('collapse').css('height', '0px');
		    $('#collapseName').removeClass('collapse').addClass('in').css('height', 'auto');
	        thisClass.DisplayStage1();
			$("[id^='ele_']").each(function(){
			    $(this).val('');
			    $(this).parent().parent().find(".highlighter").html('');
			});
		});
		$("#btnSave").click(function () {
		    if (currentstage == 1) {
		        thisClass.savestage1(false);
		    }
		    else if (currentstage == 3) {
		    }
		});
		$('#stage2Btn').click(function () {
		    thisClass.savestage1(true);
	    });
	    $('#stage3Btn').click(function () {
	        thisClass.DisplayStage3();
	    });
	    $('#goStage1').attr('href', 'javascript:var event = new EDITTABLE();event.DisplayStage1();');
	    $('#goStage2').attr('href', 'javascript:var event = new EDITTABLE();event.DisplayStage2();');
	    $('#new_pt_details_modal').on('show.bs.modal', function (e) {
	        $('#criteria_tabs a:first').tab('show');
	        $('.rubric-categories').removeClass('hide');
	        $('.criteria-section').addClass('hide');
	        $('#show-category-btn').removeClass('hide');
	        $('#show_rubric_btn').addClass('hide');
	        thisClass.getPerformanceData('');
	    })
	    $('#show-category-btn').click(function () {
	        $('.rubric-categories').addClass('hide');
	        $('.criteria-section').removeClass('hide');
	        $('#show_rubric_btn').removeClass('hide');
	        $('#impactCollapse').removeClass('hide').addClass('active');
	        $(this).addClass('hide');
	    });
	    $('#show_rubric_btn').click(function () {
	    	$(this).addClass('hide');
	    	$('.rubric-categories').removeClass('hide');
	    	$('.criteria-section').addClass('hide');
	    	$('#show-category-btn').removeClass('hide');
	    });
	    $('#impact_weight_input').change(function(){
	        var val = $('#impact_weight_input').val();
	        $('#impact_percent').val(val);
	    });
	    $('.rubric-impact').click(function () {	
	    	$('.rubric-categories').addClass('hide');
	    	$('#impactCollapse').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('.criteria-section').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('#processCollapse, #qualityCollapse, #contentCollapse').removeClass('active');
	    	$('#impactCollapse').addClass('active');
	    	$('#show-category-btn').addClass('hide');
	    });
	    $('#quality_weight_input').change(function(){
	    	var val = $('#quality_weight_input').val();
	    	$('#quality_percent').val(val);
	    });
	    $('.rubric-quality').click(function () {
	    	$('.rubric-categories').addClass('hide');
	    	$('#qualityCollapse').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('.criteria-section').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('#impactCollapse, #processCollapse, #contentCollapse').removeClass('active');
	    	$('#qualityCollapse').addClass('active');
	    	$('#show-category-btn').addClass('hide');
	    });
	    $('#content_weight_input').change(function(){
	    	var val = $('#content_weight_input').val();
	    	$('#content_percent').val(val);
	    });
	    $('.rubric-content').click(function () {
	    	$('.rubric-categories').addClass('hide');
	    	$('#contentCollapse').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('.criteria-section').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('#impactCollapse, #qualityCollapse, #processCollapse').removeClass('active');
	    	$('#contentCollapse').addClass('active');
	    	$('#show-category-btn').addClass('hide');
	    });
	    $('#process_weight_input').change(function(){
	    	var val = $('#process_weight_input').val();
	    	$('#process_percent').val(val);
	    });
	    $('.rubric-process').click(function () {
	    	$('.rubric-categories').addClass('hide');
	    	$('#processCollapse').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('.criteria-section').removeClass('hide');
	    	$('#show_rubric_btn').removeClass('hide');
	    	$('#impactCollapse, #qualityCollapse, #contentCollapse').removeClass('active');
	    	$('#processCollapse').addClass('active');
	    	$('#show-category-btn').addClass('hide');
	    });	
	    $('#addActivityBtn').click(function (event) {
	    	$('#sortableActivities').append('<li class="well well-small"><div class="row"><div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control input-small" placeholder="Add Activity Here" value="{# activity_title #}"></div><div class="col-lg-3 col-md-3 col-sm-3"><div class="onoffswitch"><input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked><label class="onoffswitch-label" for="myonoffswitch2"><div class="onoffswitch-inner"></div><div class="onoffswitch-switch"></div></label></div></div><div class="col-lg-3 col-md-3 col-sm-3"><a href="submissionReview.html" class="btn btn-small btn-success pull-right">Go to activity <i class="fa fa-arrow-right"></i></a></div></div></li>');
	    	event.preventDefault();
	    });
	    $('#add_impact_criteria_btn').click(function () {
	        thisClass.addImpactCriteria();
	    });
	    $('#add_quality_criteria_btn').click(function () {
	        thisClass.addQualityCriteria();
	    }); 
	    $('#add_content_criteria_btn').click(function () {
	        thisClass.addContentCriteria();
	    });
	    $('#add_process_criteria_btn').click(function () {
	        thisClass.addProcessCriteria();
	    }); 
	    $('#rubric_assignment').change(function () {
	    });
	    $('#btnSavePerformance').click(function () {
	        thisClass.savePerformance();
	    });
	    $('#new_evidence_details_modal').on('show.bs.modal', function (e) {
	        $('#evidencecategorytab a:first').tab('show');
	        thisClass.getEvidenceData('');
	    })
	    $('#evidence_performance_name').change(function() {
	    });
	    $('#btnSaveEvidence').click(function () {
	        thisClass.saveEvidence();
	    });
	    $("#sortable").sortable();
	    $("#sortableActivities").sortable();
	    $('#impact_criteria_list').sortable();
	    $('#quality_criteria_list').sortable();
	    $('#content_criteria_list').sortable();
	    $('#process_criteria_list').sortable();
		var profile = new EDITPROFILE(url);
		profile.iniControl();
	}
}
$(function() {
	var gen = new EDITTABLE();
	gen.iniControl();
});
</script>
</head>
<body>
	{% include "tsweb/main/navbar.html" %}
	<div class="page-container">
		{% include "tsweb/main/sidepanel.html" %}
		<div class="block-cell block-wide">
			<div id="list"></div>
			<button id="new_unit_btn" class="btn btn-info btn-lg new-btn" data-toggle="modal" data-target="#new_unit_modal">
			  New Unit <i class="fa fa-plus"></i>
			</button>
		</div> <!--End Block Cell-->
	</div> <!-- End page container -->
	<!--New Class Modal Form--> 
	<div class="modal fade modal-wide" id="new_unit_modal" tabindex="-1" role="dialog" aria-labelledby="newUnitLabel" aria-hidden="true" data-dismiss="false" style="background-color: rgba(20, 20, 20, .75);">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header teacher-header">
	        <button id="btnXClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <button type="button" class="btn btn-default btn-small btn-edit pull-right hide" id="editClassBtn">Edit</button>
	        <h4 class="modal-title">New Unit - Stage 1 - Desired Results</h4>
	      </div>
	      <div class="modal-body">
	        <form role="form" class="form form-horizontal" id="new_unit_form">
			<div id="unitexistalert" class="alert" style="display: none"> 
			    <a class="close" onclick="$('.alert').hide()">×</a>  
			    <strong>Warning!</strong> This Unit have exist data !!!
			</div>
	        	<div class="row">
		        	<div class="col-lg-12" id="stage_one">
			        	<div class="panel-group" id="accordion">
			        		
			        		<div class="panel panel-default">
			        		  <div class="panel-heading">
			        		    <h4 class="panel-title">
			        		      <a data-toggle="collapse" data-parent="#accordion" href="#collapseName">
			        		        Name:
			        		      </a>
			        		    </h4>
			        		  </div>
			        		  <div id="collapseName" class="panel-collapse collapse in">
			        		    <div class="panel-body">
		        		    		<input type="hidden" name="id" class="form-control input-small" id="ele_unitid"/>	
			        		      	<input type="text" name="name" class="form-control input-small" id="ele_name" required/>			        		      
			        		    </div>
			        		  </div>
			        		</div>
			        		<div class="panel panel-default">
			        		  <div class="panel-heading">
			        		    <h4 class="panel-title">
			        		      <a data-toggle="collapse" data-parent="#accordion" href="#collapseDesc">
			        		        Description:
			        		      </a>
			        		    </h4>
			        		  </div>
			        		  <div id="collapseDesc" class="panel-collapse collapse">
			        		    <div class="panel-body">
			        		      <input type="text" name="description" class="form-control input-small" id="ele_description"/>			        		      
			        		    </div>
			        		  </div>
			        		</div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" class="genTag" data-parent="#accordion" href="#collapseOne">
			        	          Established Goal(s):
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseOne" class="panel-collapse collapse">
			        	      <div class="panel-body">
				        	      <textarea name="establishedgoal" class="form-control input-small" id="ele_establishedgoal" data-provide="typeahead"></textarea>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			        	          Understanding(s):
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseTwo" class="panel-collapse collapse">
			        	      <div class="panel-body">
		        	          <textarea name="understanding" class="form-control input-small" id="ele_understanding"></textarea>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			        	          Essential Question(s):
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseThree" class="panel-collapse collapse">
			        	      <div class="panel-body">
		        	          <textarea name="essentialquestion" class="form-control input-small" id="ele_essentialquestion"></textarea>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			        	          Students will know...
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseFour" class="panel-collapse collapse">
			        	      <div class="panel-body">
		        	          <textarea name="knowledge" class="form-control input-small" id="ele_knowledge"></textarea>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
			        	          Students will be able to...
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseFive" class="panel-collapse collapse">
			        	      <div class="panel-body">
		        	          <textarea name="skill" class="form-control input-small" id="ele_skill"></textarea>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  
			        	</div>
			        </div> <!-- /.col-lg-12 --> 
			        <div class="col-lg-12" id="stage_two" style="display: none;">
			        	<div class="panel-group" id="accordion_two">
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion_two" href="#collapseSix">
			        	          Performance Task(s):
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseSix" class="panel-collapse collapse in">
			        	      <div class="panel-body">
                                  <button type="button" class="btn btn-info btn-small pull-right" role="button" id="btnAddPerformance" data-toggle="modal" data-target="#new_pt_details_modal"><i class="fa fa-plus" ></i></button>
			        	      </div>
			        	    </div>
			        	  </div>
			        	  <div class="panel panel-default">
			        	    <div class="panel-heading">
			        	      <h4 class="panel-title">
			        	        <a data-toggle="collapse" data-parent="#accordion_two" href="#collapseSeven">
			        	          Other Evidence:
			        	        </a>
			        	      </h4>
			        	    </div>
			        	    <div id="collapseSeven" class="panel-collapse collapse">
			        	      <div class="panel-body">
			        	        <button type="button" class="btn btn-info btn-small pull-right" role="button" id="btnAddEvidence" data-toggle="modal" data-target="#new_evidence_details_modal"><i class="fa fa-plus"></i></button>
			        	      </div>
			        	    </div>
			        	  </div>
			        	</div>
			        </div> <!-- /.col-lg-12 STAGE TWO-->
			        <div class="col-lg-12" id="stage_three" style="display: none;">
			        	<p class="text-muted">You may reorder your activities &amp; lessons by clicking an dragging to the position most desirable</p>
			        	<p class="text-muted">The Auto - Manual switch controls the grading type for each activity</p>
			        	<ul id="sortable" class="panel-group">
			        	  <li class="panel panel-success">
			        	  	<div class="panel-heading">
			        	  		<div class="panel-title">
			        	  			<a data-toggle="collapse" data-parent="sortable" href="#collapseEight" class="lesson-title">title {# lesson_title #}</a>
			        	  			<i class="fa fa-sort pull-right"></i>
			        	  		</div>
			        	  	</div>
			        	  	<div id="collapseEight" class="panel-collapse in">
			        	  		<div class="panel-body">
		        	  				<ul id="sortableActivities" style="list-style: none;">
		        	  					<li class="well well-small">
		        	  						<div class="row">
		        	  							<div class="col-lg-6 col-md-6 col-sm-6">
	        	  							 		<input type="text" class="form-control input-small" placeholder="Add Activity Here" value="{# activity_title #}">
	        	  							 	</div>
	        	  							 	<div class="col-lg-3 col-md-3 col-sm-3">
	        	  							   	<div class="onoffswitch">
	        	  							     	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
	        	  							     	<label class="onoffswitch-label" for="myonoffswitch">
	        	  							         <div class="onoffswitch-inner"></div>
	        	  							         <div class="onoffswitch-switch"></div>
	        	  							     	</label>
	        	  							   	</div> 
        	  							   </div>
        	  							   <div class="col-lg-3 col-md-3 col-sm-3">
	        	  							   <a href="submissionReview.html" class="btn btn-small btn-success pull-right">Go to activity <i class="fa fa-arrow-right"></i></a>
        	  							  	</div>
        	  							  </div>
		        	  					</li>	        	  					
		        	  				</ul> <!-- /#sortableActivities -->
		        	  				<button role="button" class="btn btn-small pull-right" id="addActivityBtn">Add Activity <i class="fa fa-plus"></i></button>
			        	  		</div>
			        	  	</div>
			        	 	</li>
			        	</ul> <!-- #sortable -->
			        </div> <!-- /.col-lg-12 STAGE THREE -->
		        </div> <!-- /.row -->
                <div class="modal-footer">
	                <input type="reset" id="closeBtn" data-dismiss="modal" class="btn btn-default" value="Close" />
	                <a href="#" id="goStage1" class="btn btn-default hide"><i class="fa fa-arrow-left"></i> Stage 1</a>
	                <a href="#" id="goStage2" class="btn btn-default hide"><i class="fa fa-arrow-left"></i> Stage 2</a>
	                <input type="submit" id="btnSave" class="btn btn-primary" value="Save Unit" />
	                <input type="submit" id="stage2Btn" class="btn btn-success" value="Go to stage 2 "/>
	                <input type="button" id="stage3Btn" class="btn btn-success" value="Go to stage 3"/>
	          </div><!-- /.modal-footer -->
	        </form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	<!--New Performance Task Details Modal Form--> 
		<div class="modal fade modal-wide" id="new_pt_details_modal" tabindex="-1" role="dialog" aria-labelledby="newPTLabel" aria-hidden="true" data-dismiss="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header teacher-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Performance Task Details</h4>
		      </div>
		      <div class="modal-body">
		        <form role="form" class="form-horizontal" id="new_rubric_form">
		        	<!--Create rubric here-->
		        	<div class="row">
		        		<div class="col-lg-5">
			        		<div class="form-group">
			        			<label for="rubric_name" class="col-sm-4 control-label">Name</label>
			        			<div class="col-sm-8">
				        			<input type="text" name="rubric_name" id="rubric_name" class="form-control input-small" required/>
				        		</div>
			        		</div>
			        		<div class="form-group">
			        			<label for="rubric_assignment" class="control-label col-sm-4">Assignment</label>
				        		<div class="col-sm-8">
				        			<select class="form-control input-small" id="rubric_assignment">
				        			</select>
				        		</div>
			        		</div>
				        	<div class="form-group">
				        		<label for="rubric_goal" class="control-label col-sm-4">Goal Of Task</label>
				        		<div class="col-sm-8">
					        		<input type="text" name="rubric_goal" id="rubric_goal" class="form-control input-small" />
					        	</div>
				        	</div>
				        	<div class="form-group">
				        		<label for="rubric_audience" class="control-label col-sm-4">Audience</label>
				        		<div class="col-sm-8">
					        		<input type="text" name="rubric_audience" id="rubric_audience" class="form-control input-small" />
					        	</div>
				        	</div>
				        	<div class="form-group">
				        		<label for="rubric_context" class="control-label col-sm-4">Context/Situation</label>
				        		<div class="col-sm-8">
					        		<input type="text" name="rubric_context" id="rubric_context" class="form-control input-small" />
					        	</div>
				        	</div>
				        	<div class="form-group">
				        		<label for="rubric_parameters" class="control-label col-sm-4">Parameters</label>
				        		<div class="col-sm-4">
					        		<input type="number" name="rubric_parameters_min" id="rubric_parameters_min" class="form-control input-small" placeholder="Min" />
					        	</div>
					        	<div class="col-sm-4">
					        		<input type="number" name="rubric_parameters_max" id="rubric_parameters_max" class="form-control input-small" placeholder="Max" />
					        	</div>
				        	</div>
				        	<div class="form-group">
				        		<label for="rubric_revisions" class="control-label col-sm-4">Revisions</label>
				        		<div class="col-sm-8">
				        			<input type="number" name="rubric_revisions" id="rubric_revisions" class="form-control input-small" />
				        		</div>
				        	</div>
				        	<div class="form-group">
				        		<label for="rubric_scale" class="control-label col-sm-4">Scale</label>
				        		<div class="col-sm-8">
					        		<input type="number" min="1" max="100" name="rubric_scale" id="rubric_scale" class="form-control input-small" placeholder="1 - 100"/>
					        	</div>
				        	</div>
				        </div><!-- col-lg-5 -->
		        		<div class="col-lg-7" style="padding-left: 70px;">
		        			<button type="button" role="button" class="btn btn-small btn-default pull-right" id="show-category-btn">Show Categories</button>
			        		<div class="rubric-categories">
			        		<div class="rubric-impact circle circle-blue center-block">
			        			<p>Impact</p>
			        			<div class="weight-percent"><input id="impact_percent" type="number" max="100" step="1" name="impact-percent" class="circle-input" value="0" disabled />%</div>
			        		</div>
			        		<div class="rubric-quality circle circle-green">
			        			<p>Quality</p>
			        			<div class="weight-percent"><input id="quality_percent" type="number" max="100" step="1" name="quality-percent" class="circle-input" value="0" disabled />%</div>
			        		</div>
			        		<div class="rubric-objective circle circle-grey">
			        			<div>Objective</div>
			        		</div>
			        		<div class="rubric-content circle circle-purple">
			        			<p>Content</p>
			        			<div class="weight-percent"><input id="content_percent" max="100" step="1" type="number" name="content-percent" class="circle-input" value="0" disabled />%</div>
			        		</div>
			        		<div class="rubric-process circle circle-red">
			        			<p>Process</p>
			        			<div class="weight-percent"><input id="process_percent" max="100" step="1" type="number" name="process-percent" class="circle-input" value="0" disabled />%</div>
			        		</div>
			        	</div>
			        </div><!-- col-lg-7 -->
	        		<div class="col-lg-7">		        		
  		      		<button id="show_rubric_btn" type="button" role="button" class="btn btn-small btn-default pull-right hide">Show Rubric</button>
  		      		<div class="criteria-section hide">	
  		        		<ul class="nav nav-tabs nav-justified" id="criteria_tabs">
  		        		  <li><a href="#impactCollapse" data-toggle="tab">Impact</a></li>
  		        		  <li><a href="#qualityCollapse" data-toggle="tab">Quality</a></li>
  		        		  <li><a href="#contentCollapse" data-toggle="tab">Content</a></li>
  		        		  <li><a href="#processCollapse" data-toggle="tab">Process</a></li>
  		        		</ul>
  		      			<br />
  		      			<div class="tab-content">		        				     
  		  				    <div id="impactCollapse" class="tab-pane">
  		  				    	<div class="form-group">
  						    			<label class="control-label col-sm-4">Category Weight</label>
  						    			<div class="col-sm-2">
  		  				    			<input class="form-control input-small" type="number" id="impact_weight_input" value="0" min="0" max="100"/>
  		  				    		</div>
  		  				    		<div class="col-sm-2">
  		  				    			<input type="button" class="btn btn-blue" value="+" id="add_impact_criteria_btn"/>
  		  				    		</div>
  		  				    	</div>
  		  				      <div class="panel-body rubric-criteria-panel">
  		  				      	<div class="alert alert-danger alertCriteria" style="display: none;">Please enter text.</div>
  		    				      <input type="text" name="add_impact_criteria" id="add_impact_criteria" class="form-control input-small" placeholder="Add Impact Criteria"/>
  		    				      <div class="row">
  		    				      	<div class="col-lg-6">
  				    				      <input type="text" name="add-impact-tag" placeholder="Add Tag" id="add_impact_tag" class="form-control input-small add-tag" />
  			    				      </div>
  			    				      <div class="col-lg-6">
  				    				      <input type="number" min="1" max="100" name="add-impact-weight" value="" id="add_impact_weight" class="form-control input-small add-tag" placeholder="Weight 1 - 100" />
  				    				    </div>
  		    				      </div>
  		    				      <hr />
  		  				      	<div class="impact-list-item">
  		  				      		<p class="text-muted">Click and drag to reorder criteria</p>
  		    				      	<ul class="list-unstyled" id="impact_criteria_list">
  		    				      	</ul>
  		  				      	</div>
  		  				      </div>
  		  				     </div>
  		  				     <div id="qualityCollapse" class="tab-pane">
  		    				    	<div class="form-group">
  		    				    		<label for="" class="control-label col-sm-4">Category Weight</label>
  		    				    		<div class="col-sm-2">
  		    				    			<input class="form-control input-small" type="number" id="quality_weight_input" value="0" min="0" max="100"/>
  		    				    		</div>
  		    				    		<div class="col-sm-2">
  		    				    			<input type="button" class="btn btn-green" value="+" id="add_quality_criteria_btn"/>
  		    				    		</div>
  		    				    	</div>
  		    				      <div class="panel-body rubric-criteria-panel">
  		      				      <div class="alert alert-danger alertCriteria" style="display: none;">Please enter text.</div>
  		    				      	<input type="text" name="add_quality_criteria" id="add_quality_criteria" class="form-control input-small" placeholder="Add Quality Criteria" />
  		    				      	<div class="row">
  		    				      		<div class="col-lg-6">
  			      				      	<input type="text" name="add-quality-tag" placeholder="Add Tag" id="add_quality_tag" class="form-control input-small add-tag" />
  		    				      		</div>
  		    				      		<div class="col-lg-6">
  			      				      	<input type="number" min="1" max="100" name="add-quality-weight" value="" id="add_quality_weight" class="form-control input-small add-tag" placeholder="Weight 1 - 100" />
  			      				      </div>
  			      				    </div>
  		    				      	<hr />
  		    				        <div class="quality-list-item">
  		    				        	<p class="text-muted">Click and drag to reorder criteria</p>
  		    				        	<ul class="list-unstyled" id="quality_criteria_list">
  		    				        	</ul>
  		    				        	<hr />
  		      				        </div>
  		    				      </div>
  		    				    </div>
  		  				    	<div id="contentCollapse" class="tab-pane">
  		    				    	<div class="form-group">
  		    				    		<label for="" class="control-label col-sm-4">Category Weight</label>
  		    				    		<div class="col-sm-2">
  		    				    			<input class="form-control input-small" type="number" id="content_weight_input" value="0" min="0" max="100"/>
  		    				    		</div>
  		    				    		<div class="col-sm-2">
  		    				    			<input type="button" class="btn btn-purple" value="+" id="add_content_criteria_btn"/>
  		    				    		</div>
  		    				    	</div>
  		    				      <div class="panel-body rubric-criteria-panel">
  		    				      	<div class="alert alert-danger alertCriteria" style="display: none;">Please enter text.</div>
  		    				      	<input type="text" name="add_content_criteria" id="add_content_criteria" class="form-control input-small" placeholder="Add Content Criteria"/>
  		    				      	<div class="row">
  		    				      		<div class="col-lg-6">
  				    				      	<input type="text" name="add-content-tag" placeholder="Add Tag" id="add_content_tag" class="form-control input-small add-tag" />
  			    				      	</div>
  			    				      	<div class="col-lg-6">
  				    				      	<input type="number" min="1" max="100" name="add-content-weight" value="" id="add_content_weight" class="form-control input-small add-tag" placeholder="Weight 1 - 100" />
  				    				      </div>
  				    				    </div>
  		    				      	<hr />
  		    				        <div class="content-list-item">
  		    				        	<p class="text-muted">Click and drag to reorder criteria</p>
  		    				        	<ul class="list-unstyled" id="content_criteria_list">
  		    				        	</ul>
  		    				        	<hr />
  		    				        </div>
  		    				      </div>
  		    				    </div>
  		  				    <div id="processCollapse" class="tab-pane">
  		  				    	<div class="form-group">
  		  				    		<label for="" class="control-label col-sm-4">Category Weight</label>
  		  				    		<div class="col-sm-2">
  		  				    			<input class="form-control input-small" type="number" id="process_weight_input" value="0" min="0" max="100"/>
  		  				    		</div>
  		  				    		<div class="col-sm-2">
  		  				    			<input type="button" class="btn btn-red" value="+" id="add_process_criteria_btn"/>
  		  				    		</div>
  		  				    	</div>
  		  				      <div class="panel-body rubric-criteria-panel">
  		  				      	<div class="alert alert-danger alertCriteria" style="display: none;">Please enter text.</div>
  		  				      	<input type="text" name="add_process_criteria" id="add_process_criteria" class="form-control input-small" placeholder="Add Process Criteria"/>
  		  				      	<div class="row">
  		  				      		<div class="col-lg-6">
  				  				      	<input type="text" name="add-process-tag" placeholder="Add Tag" id="add_process_tag" class="form-control input-small add-tag" />
  				  				      </div>
  				  				      <div class="col-lg-6">
  				  				      	<input type="number" min="1" max="100" name="add-process-weight" value="" id="add_process_weight" class="form-control input-small add-tag" placeholder="Weight 1 - 100" />
  				  				      </div>
  				  				    </div>
  		  				      	<hr />
  		  				        <div class="process-list-item">
  		  				        	<p class="text-muted">Click and drag to reorder criteria</p>
  		  				        	<ul class="list-unstyled" id="process_criteria_list">
  		  				        	</ul>
  		  				        	<hr />
  		  				        </div>
  		  				      </div>
  		  				    </div>
  						    </div>
  					 		</div><!-- /.criteria-section -->
  				 		</div>					 		
		        <hr />
		        </div><!-- /. row -->
		        	<div class="modal-footer" >
		        	  <input type="reset" class="btn btn-default" data-dismiss="modal" value="Close"/>
		        	  <input type="submit" class="btn btn-primary" value="Save Details" id="btnSavePerformance"/>
		        	</div>
		        </form>
		      </div><!-- /.modal-body -->
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!--New Evidence Details Modal Form--> 
			<div class="modal fade modal-wide" id="new_evidence_details_modal" tabindex="-1" role="dialog" aria-labelledby="newPTLabel" aria-hidden="true" data-dismiss="false">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header teacher-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Other Evidence Details</h4>
			      </div>
			      <div class="modal-body">
			        <form role="form" class="form-horizontal" id="new_evidence_form">
			        	<!--Create rubric here-->
			        	<div class="row">
			        		<div class="col-lg-7">
			        			<div class="form-group">
			        				<label for="evidence_performance_name" class="col-sm-4 control-label">Performance Task</label>
			        				<div class="col-sm-8">
			        					<select name="evidence_performance_name" id="evidence_performance_name" class="form-control input-small">
			        					</select>
			        				</div>
			        			</div>
				        		<div class="form-group">
				        			<label for="evidence_name" class="col-sm-4 control-label">Name</label>
				        			<div class="col-sm-8">
					        			<input type="text" name="evidence_name" id="evidence_name" class="form-control input-small" required />
					        		</div>
				        		</div>
				        		<div class="form-group">
				        			<label for="evidence_goal" class="control-label col-sm-4">Goal</label>
					        		<div class="col-sm-8">
					        			<input type="text" name="evidence_goal" id="evidence_goal" class="form-control input-small" />
					        		</div>
				        		</div>
					        	<div class="form-group">
					        		<label for="evidence_deliverables" class="control-label col-sm-4">Deliverables</label>
					        		<div class="col-sm-8">
						        		<input type="text" name="evidence_deliverables" id="evidence_deliverables" class="form-control input-small" />
						        	</div>
					        	</div>
					        </div><!-- col-lg-5 -->
			        		<div class="col-lg-5">
			        			<ul id="evidencecategorytab" class="nav nav-tabs nav-justified">
			        			  <li class="active"><a href="#impact_section_ev" data-toggle="tab">Impact</a></li>
			        			  <li><a href="#quality_section_ev" data-toggle="tab">Quality</a></li>
			        			  <li><a href="#content_section_ev" data-toggle="tab">Content</a></li>
			        			  <li><a href="#process_section_ev" data-toggle="tab">Process</a></li>
			        			</ul>
			        			<div class="tab-content">
			        				<div id="impact_section_ev" class="tab-pane active">
				        				<ul id="impact_list">
				        				</ul>
				        			</div>
				        			<div id="quality_section_ev" class="tab-pane">
					        			<ul id="quality_list">
					        			</ul>
				        			</div>
				        			<div id="content_section_ev" class="tab-pane">
					        			<ul id="content_list">
					        			</ul>
				        			</div>
				        			<div id="process_section_ev" class="tab-pane">
					        			<ul id="process_list" style="max-height: 100px; overflow: scroll;">
					        			</ul>
				        			</div>
				        		</div>
			        		</div>
			        	 </div><!-- row -->
			        	<div class="modal-footer" >
			        	  <input type="reset" class="btn btn-default" data-dismiss="modal" value="Close"/>
			        	  <input type="submit" class="btn btn-primary" value="Save Details" id="btnSaveEvidence"/>
			        	</div>
			        </form>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->	
	{% include "tsweb/main/editprofile.html" %}	
</body>
</html>