body {
	background-color:#D6D6D6;
	margin:0;
	padding:0;
}

h1 {
	font-size:34px;
	font-family:Open Sans,sans-serif;
}

.clear {
	clear:both;
}

.placeholder {
	margin:auto;
	background-color:white;
	width:1024px;
	min-height:768px;
}

.header {
	color:white;
	background-color:#0090CA;
	height:52px;
}

.headertext {
	position:relative;
	float:left;
	left:11px;
	height:100%;
	width:65%;
}

.headertext h1 {
	color:white;
	line-height:52px;
	margin:0;
}

.headerbutton {
	position:relative;
	float:right;
	height:100%;
	width:30%;
}

.headerbutton a {
	display:inline-block;
	color:#0090CA;
	position:relative;
	height:52px;
	width:32px;
	float:right;
	margin-right:15px;
}

.headerbutton img {
	margin-top:10px;
}

.pagename {
	left:187px;
	top:5px;
	position:relative;
	text-decoration:underline;
	font-weight:normal;
	width:50%;
	float:left;
}

.searchlist{
	height:35px;
}

.searchlist .filter{
	left:187px;
	position:relative;
	width:30%;
	float:left;
	line-height:30px;
}

.searchbox{
	right:20px;
	position:relative;
	float:right;
	height:18px;
	border-radius:20px;
	padding:3px;
	color:#888;
	padding-left:30px;
	width:150px;
}

.searchboxnofilter {
	top:35px;
}

.searchboximg {
	float:right;
	position:relative;
	top:6px;
	width:15px;
	right:-5px;
}

.searchboximgnofilter {
	top:41px;
}

.leftnav {
	width:180px;
	position:relative;
	float:left;
}

.leftnav div {
	background-color:#B1CBE2;
	border:1px #C6C6C6 solid;
	height:59px;
	line-height:59px;
}

.leftnav .active {
	background-color:#D8E5F0;
}

.leftnav .tdimg {
	width:40px;
	text-align:center;
}

.leftnav .tdimg img {
	position:relative;
	top:8px;
}

.leftnav a {
	display:block;
	height:59px;
	text-decoration:none;
	color:black;
	line-height:59px;
}

.content {
	position:relative;
	float:right;
	width:830px;
	right:10px;
}

.listfooter {
	border:1px #C6C6C6 solid; 
	background-color:#E2E2E2;
	color:#333;
	padding-left:8px;
	margin-top:5px;
}

.listfooter .circlecross {
	position:relative;
	top:2px;
}

.listnewbutton {
	position:absolute;
	right:1px;
	margin-top:5px;
}

.button {
	height:35px;
	width:127px;
	background-color:white;
	color:#333;
	border:1px #CECECE solid;
}

.selection {
	padding-right:7px;
	padding-bottom:2px;
	padding-top:0px;
	height:28px;
	width:150px;
}

.tablelist {
	width:100%;
	border-collapse:collapse;
	border:1px #C6C6C6 solid;
}

.rowheader {
	background-color:#E2E2E2;
	height:30px;
}

.rowitem {
 	background-color:white;
 	height:30px;
}

.rowitem:hover {
 	cursor:pointer;
	background-color:#EAEAEA;
}

.cellitem {
	border:1px #C6C6C6 solid;
	color:#333;
	padding-left:5px;
}

/*add edit CSS*/
.editor{
	padding-left:50px;
	padding-top:10px;
}
.col{
	font-weight:bold;
	width:150px;
}
.text{
	width:300px;
}
.select{
	width:250px;
}
/*end*/
