@font-face {
	font-family: "Satisfy";
	src: "fonts/Satisfy-Regular.ttf";
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
	50% { -webkit-transform: scale(1.4); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


body{
	background-color: #cccccc;
}
.logo{
	font-family: "Satisfy";
	font-size: 2em;
	color: #ffffff;
	position: absolute;
}
.light-text{
	font-weight: lighter;
}
.navbar{
	background-color: #3366cc;
	border-radius: none!important;
	box-shadow: 0px 5px 0px rgba(102,102,102, .5);
}
.navbar .container p a{
	color: white;
	padding-left: 10px;
}
.navbar .navbar-name{
	font-size: ;
}
.navbar-form{
	margin-top: 15px;
}
.student-nav li a{
	color: white;
}
.dropdown-menu{
	border-radius: 5px!important;
	padding: 0px;
}
.dropdown-menu .dropdown-title{
	color: #ffffff;
	padding: 5px;
	background-color: #70c174;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.dropdown-menu li a{
	color: #666666;
}
.student-name{
	font-size: 1.4em;
	margin-top: 5px;
}
.notification{
	-webkit-animation: flash 2s ease-in-out 0s 3 alternate;
	-moz-animation: flash 2s ease-in-out 0s 3 alternate;
	animation: flash 2s ease-in-out 0s 3 alternate;
}

.page-title{
	color: #444;
	padding-bottom: 20px;
}

.block-cell{
	top: 0!important;
	position: relative;
	width: 30%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
	background-color: #fff;
	border: 1px solid #999999;
	box-shadow: 0px 5px 0px rgba(102,102,102, .5);
	
}
.block-header{
	background-color: #ff6633;
	margin-top: -20px;
	position:static;
}
.block-header h3{
	top: 0;
	color: #ffffff;
	font-weight: lighter;
	text-align: center;
	padding: 10px;
}
.block-body{
	height: auto;
	padding: 8px;
	overflow: scroll;
	height: 300px;
}
.block-body button{
	font-size: 1.2em;
	margin: 10px auto;
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	float: right;
}