@font-face {
	font-family: "Satisfy";
	src: "fonts/Satisfy-Regular.ttf";
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
	50% { -webkit-transform: scale(1.4); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


body{
	background-color: #cccccc;
}
.container{
	height: auto!important;
}
.page-container{
	padding-bottom: 50px;
}
.footer{
	height: 65px;
	margin-top: 65px;
	padding-top: 5px;
	bottom: 0;
	width: 100%;
	background-color: #eee;
	/*z-index: -1;*/
}
.footer .container{
	padding: 15px 15px;
}
.logo{
	font-family: "Satisfy";
	font-size: 2em;
	color: #ffffff;
	position: absolute;
}
h1 a{
	color: #ffffff;
}
h1 a:hover{
	color: #ffffff;
	text-decoration: none;
}
.light-text{
	font-weight: lighter;
}
button:focus{
	outline: none!important;
}
.navbar{
	/*background-color: #3366cc;*/
	/*background-color: #3383CC;*/
	background-color: #478ECF;
	border-radius: none!important;
	box-shadow: 0px 5px 0px rgba(102,102,102, .5);
	height: 58px;
}
.navbar-nav .fa{
	margin-top: 10px;
}
.navbar .container p a{
	color: white;
	padding-left: 10px;
}
.navbar .navbar-name{
	font-size: ;
}
.navbar-form{
	margin-top: 15px;
}
.nav-text{
	margin-top: 5px;
	font-size: 1.4em;
}
.student-nav li a{
	color: white;
}
.dropdown-menu{
	border-radius: 5px!important;
	padding: 0px;
}
.dropdown-menu .dropdown-title{
	color: #ffffff;
	padding: 5px;
	background-color: #81BB84;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.dropdown-menu li a{
	color: #666666;
}
.student-name{
	font-size: 1.4em;
	margin-top: 5px;
}
.notification{
	-webkit-animation: flash 2s ease-in-out 0s 3 alternate;
	-moz-animation: flash 2s ease-in-out 0s 3 alternate;
	animation: flash 2s ease-in-out 0s 3 alternate;
}
form{
	color: #444;
}
.form-centered{
	margin-top: 30px;
}
.form-centered legend{
	font-size: 2em;
	color: #444;
}
#login-form, #register-form{
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
	width: 40%;

}
#login-form .fa-circle, #register-form .fa-circle, #register-form .fa-circle-o{
	/*font-size: .6em;*/
	margin-left: 2px;
}
#login-form #login-btn{
	/*margin-left: 45px;*/
}
#signinButton{
	background-color: rgb(231, 75, 57);
	border-color: rgb(231, 75, 57);
	border: none;
	font-weight: normal;
}
#signinButton:hover, #signinButton:active{
	background-color: rgb(220, 60, 40);
	border-color: rgb(200, 50, 30);
	
}
#forget-password-form{
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
	width: 40%;
}
.page-title{
	color: #444;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.side-panel{
	top: 135px;
	margin-left: -11px;
	position: absolute;
	width: 330px;
}
.panel-revision{
	top: 93px!important;	
}
.hide-panel{
	position: absolute;
	left: 10px;
	top: 100px;
	background-color: rgba(0, 0, 0, .2);
	z-index: 4;
	
}
#hide-nav{
	position: absolute;
	right: 10px;
	top: 15px;
	z-index: 4;
	background-color: rgba(0, 0, 0, .2);
}
.hide-panel:focus, #hide-nav:focus{
	outline: none;
}
.hide-panel, #hide-nav {
	color: rgba(255, 255, 255, .85);
}
.hide-panel:hover, #hide-nav:hover{
	text-decoration: none;
}
.fa-arrow-up{
	position: relative;
	content: '';
}
.fa-arrow-up:after{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
.fa-arrow-up.up-down:after{
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.nav-border{
	background-color: #478ECF;
	width: 100%;
	height: 5px;
	top: 0;
	margin-bottom: 10px!important;
	position: absolute;
	box-shadow: 0px 5px 0px rgba(102,102,102, .5);
	z-index: -1;
}
.block-cell{
	top: 0!important;
	position: relative;
	width: 30%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
	background-color: #fff;
	border: 1px solid #999999;
	box-shadow: 0px 5px 0px rgba(102,102,102, .5);
}
.no-padding .block-body{
	padding: 0!important;
}

.block-thin{
	width: 320px;
	box-shadow: none!important;
}
.block-wide{
	width: 65%!important;
	display: inline-block!important;
	float: right;
	left: -120px;
	height: 400px;
	margin-top: -29px;
	padding: 5px;
}
.block-revision{
	width: 74.4%;
	height: 480px;
	position: relative;
	float: right;
	margin-top: 15px;
	/*margin-right: -83px;*/
}
.block-tall{
	min-height: 300px;
	height: auto!important;
}
.block-header{
	/*background-color: #ff6633!important;*/
	background-color: #919191!important;
}
.block-header h3{
	top: 0;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
}
.block-header h3 a{
	color: #ffffff;
	font-size: 1.3em;
	padding: 10px auto;
}
.block-body{
	height: auto;
	overflow: scroll;
	max-height: 200px;
	height: auto;
	padding: 8px;
	margin-bottom: 10px;
}
.block-body .block-list{
	width: 100%;
	padding: 0!important;
	list-style: none;
}
.block-list .tag{
	display: inline-block;
	background-color: rgba(239, 250, 40, 0.50);
	padding: 2px;
	border-radius: 3px;
}
.block-list li{
	
	width: 100%!;
}
.block-list li a{
	font-size: 1.2em;
}
.block-body button{
	font-size: 1.2em;
	margin: 10px auto;
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	display: inherit;
}
.overview-nav{
	background-color: #bf380a;	
	width: 65%;
	float: right;
	margin-top: -69px;
	margin-right: 130px;
}
.overview-nav ul{
	list-style: none;
	width: 100%;
	padding-left: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.overview-nav ul li{
	display: inline-block;
	padding: 10px 27px;
	color: #ffffff;
	text-align: justify;
	vertical-align: middle;
}
.overview-nav ul li:hover{
	cursor: pointer;
}
.active-white{
	background-color: white;
	color: #888888!important;
}
.category-text{
	margin-top: -100px;
	max-height: 350px;
	height: auto;
	overflow: scroll;
}
#assignment-table{
	font-size: 0.9em;
}
.lesson-btn{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	color: white;
	z-index: 3;
	width: 40px;
}
.lesson-section{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, .75);
	box-shadow: 0px -5px 10px rgba(0,0,0,.2);
	z-index: 2;
}
.lesson-body{
	width: 100%;
}
.lesson-section-one, .lesson-section-two, .lesson-section-three{
	padding: 5px;
	width: 33%;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: inset 1px solid #777;
	display: inline-block;
}
/*.lesson-section .lesson-body .lesson-section*/


/*Teacher Section*/
.active{
	background: -webkit-linear-gradient(left, rgba(214, 159, 99, 0) 97.7%, #c2e617 97.9%) rgba(70, 172, 183, 0);
	background: -moz-linear-gradient(left, rgba(214, 159, 99, 0) 97.7%, #c2e617 97.9%) rgba(70, 172, 183, 0);
	background: -ms-linear-gradient(left, rgba(214, 159, 99, 0) 97.7%, #c2e617 97.9%) rgba(70, 172, 183, 0);
	background: linear-gradient(to right, rgba(214, 159, 99, 0) 97.7%, #c2e617 97.9%) rgba(70, 172, 183, 0);
}
.new-btn{
	position: absolute;
	right: 130px;
}
.modal-header.teacher-header{
	background-color: #c2e617!important;
}
.rowheader{
	background-color: #81BB84;
	color: #ffffff;
}
.searchlist{
	position: absolute;
	left: 340px;
}
/*End*/