	<nav class="navbar" role="navigation">
		<div class="container">
			<h1 class="logo"><a href="{% url 'tsweb:tunitlist' %}">Writability - My Classroom</a></h1>
			<ul class="nav navbar-nav pull-right student-nav" >				
				<li><a href="{% url 'tsweb:tunitlist' %}"><i class="fa fa-dashboard fa-lg"></i></a></li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle student-name" data-toggle="dropdown">{{ user_name }}</a>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" class="btnEditProfile" data-target="#edit_profile"><i class="fa fa-cogs"></i> Edit Profile</a></li>
						<li><a href="{% url 'tsweb:logout' %}"><i class="fa fa-power-off"></i> Log Out</a></li>
					</ul>
				</li>
			</ul>
			
			<!--<form class="navbar-form navbar-left" role="search" id="search-form" method="" action="null">-->
            <div class="navbar-form navbar-left" role="search" id="search-form">
				<div class="input-group col-lg-3 col-offset-6">
					<input type="text" class="form-control" id="txtSearch">
			    <span class="input-group-btn">
			      <input class="btn btn-default" type="submit" value="Search" id="btnSearch">
			    </span>
			  </div><!-- /input-group -->
            </div>
			<!--</form>-->
	    
		</div>
	</nav> <!-- End Nav -->